body {
    background-image: url(../assets/images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    
}

.cards-container,
.seasons-container {

    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #f2f2f2;  */
}

.card,
.season {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.logo,
.crest-image {
    width: 100px;
    height: auto;
    object-fit: cover;
}


.cards-container .card h4,
.seasons-container .season h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .logo, .crest-image {
    width: 100px;
    height: auto;
    object-fit: cover;
  }