body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../assets/images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos para details-container */
.details-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* Estilos para seasons-container dentro de details-container */
  .details-container .seasons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para crest-image dentro de seasons-container */
  .details-container .crest-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  /* Estilos adicionales para otros elementos dentro de details-container si es necesario */
  

.card,.winner {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.logo {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.card h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
