@font-face {
  font-family: nfl;
  src: url(../assets/fonts/Inter\ Miami\ 2023.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../assets/images/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-areas: "header" "h2" "main" "details" "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.container h2 {
  grid-area: h2;
  text-align: center;
  font-family: nfl;
}

.header {
  background: #1C1F2F;
  color: white;
  padding: 10px;
  text-align: center;
}

.header__title {
  display: flex;
  justify-content: space-around;
  font-family: nfl;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  background: #1C1F2F;
  padding: 10px;
}

.header__nav a {
  color: white;
  text-decoration: none;
  font-family: nfl;
  transition: color 0.3s;
}

.header__nav a:hover {
  color: #FF0C3D;
}

.img__logo {
  height: 70px;
  width: 80px;
}

#main {
  grid-area: main;
  display: grid;
  grid-template-areas: "ligas";
  text-align: center;
}

#ligas-container {
  grid-area: ligas;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

#ligas-container div {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: nfl;
}

#ligas-container img {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}

.details-container {
  grid-area: details;
  background: #eee;
  padding: 20px;
  font-family: nfl;
}

.footer {
  grid-area: footer;
  background: #1C1F2F;
  color: white;
  text-align: center;
  padding: 1em;
  font-family: nfl;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.player-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.player-card img {
  max-width: 100%;
  height: auto;
}
