@font-face {
    font-family: nfl;
    src: url(../assets/fonts/Inter\ Miami\ 2023.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../assets/images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.header {
    background-color: #1C1F2F;
    color: white;
    padding: 10px;
    text-align: center;
    
  }
  .header__title{
    display: flex;
    justify-content: space-around;
    font-family: nfl;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-around; 
    background-color:#1C1F2F; 
    padding: 10px;
  }
  
  .header__nav a {
    color: white; 
    text-decoration: none; 
    font-family: nfl;
    transition: color 0.3s; 
  }
  
  .header__nav a:hover {
    color: #FF0C3D; }
    

.img__logo{
    height: 70px;
    width: 80px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: nfl;
}

/* Estilos para details-container */
.details-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: nfl;
  }
  
  /* Estilos para seasons-container dentro de details-container */
  .details-container .seasons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para crest-image dentro de seasons-container */
  .details-container .crest-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  /* Estilos adicionales para otros elementos dentro de details-container si es necesario */
  
  .season{
    background-color: white;
    text-align: center;
  }

.card,.winner {
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.logo {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.card h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer {
    background-color: #1C1F2F;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: nfl;
}
